.list_carousel {
    height: 175px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 14px;
    color: #333;
    width: 200px;
    padding: 0;
    margin: 2px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}




.Centerer
{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.clearfix {
    
	height: calc(100% - 175px);
	width: 660px;
}

.fwContent
{
    display: inline-block;
    vertical-align: middle;
	width: 100px;
}

.prev {
    background: url("next-arrow-left.png") no-repeat scroll 0 0 transparent;
    display: block;
   
    position: relative;
   
}
.next {
    background: url("next-arrow-right.png") no-repeat scroll 0 0 transparent;
    display: block;
    float; right;
    position: relative;
   
}

#foo2 {
    left: 20px;
    margin: 0 2px;
    position: absolute;
}